<ion-view view-title="Articles">
  <ion-content>
    <ion-list>
      <ion-item class="item-input-inset">
        <label class="item-input-wrapper" ng-controller="SearchCtrl">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchTerms" class="full-image">
          <ion-spinner icon="ios-small" class="placeholder-icon" ng-if="searching"></ion-spinner>
        </label>
      </ion-item>
      <ion-item ng-repeat="article in articles | limitTo:settings.itemsLimit" ui-sref="app.article({id: article.id})">
        {{article.title}}
      </ion-item>
      <ion-infinite-scroll on-infinite="increaseItemsLimit();" distance="1%"></ion-infinite-scroll>
    </ion-list>
  </ion-content>
</ion-view>
